
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background-image: url("https://media.licdn.com/dms/image/D5612AQHHTTICSfxTgg/article-cover_image-shrink_720_1280/0/1693153639814?e=2147483647&v=beta&t=7i57JjfMjD4uvyQuY4L9pIC3DxNpcZBHVOnFPbFnILE");
    background-size: cover; 
    background-position: center; 
    background-size:cover;
  }
  
  .login-container {
    width: 400px;
    padding: 70px;
    
    margin:0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(216, 229, 232, 0.8); /* Add a semi-transparent white background */
    position:absolute;
    top:20%;
    left:37%;
    
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 10px;
    border: 3px solid #4a4545;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #4caf95;
    color: rgb(209, 218, 218);
    cursor: pointer;
   
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .pro{
    display:flex;
    background-color: #4caf95;
  }