h1,
p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
}
.search-container {
  border: solid;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  flex-direction: column;
  margin: auto;
}
.search-container .form-group {
  width: 150px;
}
.search-container input {
  width: 100%;
  padding: 5px;
}
.search-container button {
  margin-top: 20px;
  border: none;
  width: 120px;
  padding: 10px;
  background-color: green;
  color: whitesmoke;
}

.search-container button:hover {
  background-color: burlywood;
  color: black;
  cursor: pointer;
}

.was-validated input:invalid {
  background-color: lightpink;
  border: solid red;
}

.error-alert {
  margin: 0;
  width: 100%;
  padding: 20px;
  background-color: lightpink;
  border: solid coral;
}

.buses-avail-container .bus-avail {
  display: flex;
  flex-direction: column;
  background: wheat;
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.buses-avail-container .bus-avail:nth-child(odd) {
  background-color: antiquewhite;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}
.name {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.seat {
  visibility: hidden;
}

.seat + label {
  background-color: lightcyan;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.seat:checked + label {
  background-color: green;
}
.seat:disabled + label {
  background-color: lightsalmon;
  cursor: not-allowed;
}
.seat-container {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
}
.proceed {
  text-align: center;
  margin: 20px auto;
  width: 100px;
}
